<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{events/fragments :: links}" th:with="title = 'Update Event'"></head>
<body>
<div th:insert="~{events/fragments :: header}"></div>

<form th:method="POST" th:action="@{/events/{id}/edit(id=${event.getId()})}" th:object="${event}">
    <label for="event_title">Title: </label>
    <input id="event_title" name="title" type="text" th:value="*{title}"/>
    <br/>
    <label for="event_date">Date: </label>
<!--    <input id="event_date" name="date" type="datetime-local" th:value="${event.date.toString()}"/>-->
    <input id="event_date" name="date" type="datetime-local" th:value="${#temporals.format(event_timestamp, 'yyyy-MM-dd HH:mm:ss')}"/>
    <br/>
    <input type="submit" value="Update"/>
</form>

<!--<form th:method="POST" th:action="@{/events/{id}/edit(id=${event.getId()})}" th:object="${event}">-->
<!--    <label for="title">Title: </label>-->
<!--    <input type="text" th:field="*{title}" id="title"/>-->
<!--    <br/>-->
<!--    <label for="date">Enter name: </label>-->
<!--    <input type="datetime-local" name="date" th:value="${#temporals.format(event_timestamp, 'yyyy-MM-dd HH:mm:ss')}" id="date"/>-->
<!--    <br/>-->
<!--    <label for="age">Enter age: </label>-->
<!--    <input type="text" th:field="*{age}" id="age"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>-->
<!--    <br/>-->
<!--    <label for="email">Enter email: </label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>-->
<!--    <br/>-->
<!--    <input type="submit" value="Update!"/>-->
<!--</form>-->


</body>
</html>