<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{events/fragments :: links}" th:with="title = 'Search By Title'"></head>
<body>
<div th:insert="~{events/fragments :: header}"></div>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<form id="event_form" th:method="GET" th:action="@{/events/search}">
    <label for="event_title">Event title:</label>
    <input type="text" id="event_title" name="title" th:value="${title}"/>
</form>

<div th:if="${events}">
    <div th:if="${events.isEmpty()}">
        <span>No events found</span>
    </div>
    <div th:each="event : ${events}">
        <div th:object="${event}">
            <a th:href="@{/events/{id}(id=*{id})}" th:text="*{title}"/>
        </div>
    </div>

</div>
</body>

<script>
    document.getElementById("event_title").addEventListener("change",e =>{
        document.getElementById("event_form").submit();
    })
</script>
</html>