<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: links}" th:with="header_title = 'New Event'"></head>
<body>
<div th:insert="~{fragments :: header}"></div>

<!--<form th:method="POST" th:action="@{/events}">-->
<!--&lt;!&ndash;    <label for="event_title">Title: </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="event_title" name="title" type="text"/>&ndash;&gt;-->
<!--    <br/>-->
<!--&lt;!&ndash;    <label for="event_date">Date: </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="event_date" name="date" type="datetime-local"/>&ndash;&gt;-->
<!--    <br/>-->
<!--    <input type="submit" value="Create"/>-->
<!--</form>-->
<div th:insert="~{fragments :: jumbotron}" th:with="jumbotron_text = 'Add New Event'"></div>

<div class="card my-3 mx-auto w-25">
    <div class="card-body">
        <form th:method="POST" th:action="@{/events}">
            <div class="mb-3">
                <label for="event_title" class="form-label">Event Title</label>
                <input id="event_title" type="text" class="form-control" name="title" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="event_date" class="form-label">Event Date</label>
                <input id="event_date" name="date" type="datetime-local" class="form-control" aria-describedby="dateTimeHelp">
                <div id="dateTimeHelp" class="form-text">Please, specify date and time of event</div>
            </div>
            <input type="submit" class="btn btn-dark" value="Create">
        </form>
    </div>
</div>

</body>
</html>