<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: links}" th:with="header_title = 'Search by Date'"></head>
<body>
<div th:insert="~{fragments :: header}"></div>

<div th:insert="~{fragments :: jumbotron}" th:with="jumbotron_text = 'Event List'"></div>

<div class="mx-auto w-25">
    <form id="event_form" th:method="GET" th:action="@{/events}">
        <label for="event_date"></label>
        <input type="date" id="event_date" class="form-control" name="date" th:value="${#temporals.format(current_date, 'yyyy-MM-dd')}"/>
        <div id="dateTimeHelp" class="form-text">Please, choose the date of event</div>
    </form>
</div>

<div class="my-3 mx-auto w-25" th:each="event : ${events}">
    <div class="card my-2">
        <div class="card-body" th:object="${event}" >
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <a th:href="@{/events/{id}(id=*{id})}" class="link-underline-opacity-10 link-secondary fw-bolder link-underline-opacity-100-hover" th:text="*{title}"/>
                    </div>
                    <div class="col-2">
                        <div class="time_of_event" th:text="*{date.toString()}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

<script>
    document.getElementById("event_date").addEventListener("change",e =>{
        document.getElementById("event_form").submit();
    })

    Array.from(document.getElementsByClassName("time_of_event")).forEach((e) => {
        e.innerHTML = new Date(e.innerHTML).toISOString().slice(11, 16);
    })
</script>
</html>