<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: links}" th:with="header_title = 'Update Event'"></head>
<body>
<div th:insert="~{fragments :: header}"></div>

<div th:insert="~{fragments :: jumbotron}" th:with="jumbotron_text = 'Edit Event'"></div>

<div class="card my-3 mx-auto w-25">
    <div class="card-body">
        <form id="update_form" th:method="POST" th:action="@{/events/{id}/edit(id=${event.getId()})}" th:object="${event}">
            <div class="mb-3">
                <label for="event_title" class="form-label">Event Title</label>
                <input id="event_title" type="text" class="form-control" name="title" th:value="*{title}" required>

            </div>
            <div class="mb-3">
                <label for="event_date" class="form-label">Event Date</label>
                <input id="event_date" name="date" type="datetime-local" class="form-control" th:value="${#temporals.format(event_timestamp, 'yyyy-MM-dd HH:mm')}">
            </div>
            <input id="update-btn" type="submit" class="btn btn-dark" value="Update">
        </form>
    </div>
</div>

</body>

</html>