<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: links}" th:with="header_title = 'Search By Title'"></head>
<body>
<div th:insert="~{fragments :: header}"></div>

<div th:insert="~{fragments :: jumbotron}" th:with="jumbotron_text = 'Evens By Title'"></div>

<div class="mx-auto w-25 container bg-body-tertiary py-4">

        <form role="search" id="event_form" th:method="GET" th:action="@{/events/search}">
            <div class="row">
                       <div class="col-9">
                           <input class="form-control me-2" type="search" name="title" th:value="${title}" placeholder="Title" aria-label="Search">
                       </div>
                       <div class="col-3">
                           <button class="btn btn-outline-dark" type="submit">Search</button>
                       </div>
            </div>
            </form>
</div>

<div class="my-3 mx-auto w-25" th:each="event : ${events}">
    <div class="card my-2">
        <div class="card-body" th:object="${event}" >
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <a th:href="@{/events/{id}(id=*{id})}" class="link-underline-opacity-10 link-secondary fw-bolder link-underline-opacity-100-hover" th:text="*{title}"/>
                    </div>
                    <div class="col-3">
                        <div class="time_of_event" th:text="*{date.toString()}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    Array.from(document.getElementsByClassName("time_of_event")).forEach((e) => {
        e.innerHTML = new Date(e.innerHTML).toISOString().slice(5, 16).replace("T", " ");
    })
</script>
</html>