<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: links}" th:with="header_title = 'Search By Email'"></head>
<body>
<div th:insert="~{fragments :: header}"></div>

<div th:insert="~{fragments :: jumbotron}" th:with="jumbotron_text = 'Users By Email'"></div>

<div class="mx-auto w-25 container bg-body-tertiary py-4">

    <form role="search" id="event_form" th:method="GET" th:action="@{/users/search}">
        <div class="row">
            <div class="col-9">
                <input class="form-control me-2" type="email" name="email" th:value="${current_email}" placeholder="Email" aria-label="Search">
            </div>
            <div class="col-3">
                <input class="btn btn-outline-dark" value="Search" type="submit"/>
            </div>
        </div>
    </form>
</div>

<div th:if="${user != null}">
    <div th:insert="~{users/user_page :: user_card}"></div>
</div>


</body>

</html>