<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: links}" th:with="header_title = 'New Event'"></head>
<body>
<div th:insert="~{fragments :: header}"></div>

<div th:insert="~{fragments :: jumbotron}" th:with="jumbotron_text = 'Add New Event'"></div>

<div class="card my-3 mx-auto w-25">
    <div class="card-body">
        <form th:method="POST" th:action="@{/users}" th:object="${user}">
            <div class="mb-3">
                <label for="user_name" class="form-label">Name</label>
                <input id="user_name" type="text" th:field="*{name}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="user_email" class="form-label">Email</label>
                <input id="user_email" type="email" th:field="*{email}" class="form-control" required>
            </div>
            <input type="submit" class="btn btn-dark" value="Create">
        </form>
    </div>
</div>

</body>
</html>